.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.counter__icon {
    width: 32px;
    height: 32px;
}

.counter__value {
    font-size: 52px;
    -webkit-text-stroke: 2px #000000;
    color: #ffffff;
    line-height: 1;
}